<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>Hall of Riddles<%=punctuation %> <%= my_user %></h1>
    <br>
    <form action="/signup" method="POST">
        <p>
            <input type="text" name="username" placeholder="What is your username?">
        </p>
        <br>
        <p>
            <input type="text" name="password" placeholder="What is your password?">
        </p>
        <br>
        <input type="submit" class="select" value="Sign up!">
        
    </form>
    <br>

    <% if (invalid_login) {%>
    <div class="error">
        Invalid Login
    </div>
    <% }%>

</body>
</html>